/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #2ecc71;
    text-shadow: none;
}

::selection {
    background: #2ecc71;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
font-family: Lato;
    font-weight: 400;
}




.fa{
    color: white;
    -webkit-transition:  all 0.3s ease 0s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: all 0.3s ease 0s; /* Firefox < 16 */
        -ms-transition: all 0.3s ease 0s; /* Internet Explorer */
         -o-transition:  all 0.3s ease 0s; /* Opera < 12.1 */
            transition: all 0.3s ease 0s;
}

.row>a{
color: white;
    text-decoration: none;
}

.fa:hover{
color: #2ecc71;
}

#copyright{
    color: #1f1f1f;
}

#copyright i{
    color: #1f1f1f;
}

.socialIcons i:hover{
    cursor: pointer;
}

.fa:active{
color : #27AE60;
}


header{
    height: 42rem;
    background: url(images/Layer-1.png);

}

header nav ul{
    margin-top: 0px;
}

header h1{

    color: #ffffff;
    font-size: 64px;
    margin-top: 17rem;

}

header div.container-fluid-lg div.row.around-xs.around-sm.around-md.around-lg{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 2%;
}

.button{
    display: inline-block;
    background: none;
    border-color: #2ecc71;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    color: #ffffff;
    font: 700 17px Lato;
    width: 208px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

       -webkit-transition:  all 0.3s ease 0s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: all 0.3s ease 0s; /* Firefox < 16 */
        -ms-transition: all 0.3s ease 0s; /* Internet Explorer */
         -o-transition:  all 0.3s ease 0s; /* Opera < 12.1 */
            transition: all 0.3s ease 0s;
}

.button:hover{
    background-color: #2ecc71;
    cursor: pointer;
}

#buttonRow{
-webkit-transition: -webkit-transform 0.3s ease-in-out; /* Changed here */
     -moz-transition: -moz-transform 0.3s ease-in-out;
       -o-transition: -o-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}

.button:active{
background-color: #27AE60;
    border-color: #27AE60;
}

.button img{
    visibility: hidden;
    opacity: 0;
  -webkit-transition:  visibility 0s linear 0.3s,opacity 0.3s linear; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear; /* Firefox < 16 */
        -ms-transition:visibility 0s linear 0.3s,opacity 0.3s linear; /* Internet Explorer */
         -o-transition:  visibility 0s linear 0.3s,opacity 0.3s linear; /* Opera < 12.1 */
            transition:visibility 0s linear 0.3s,opacity 0.3s linear;


}

.navbarGradient{
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

.withoutGradient{
    background-color: transparent;
}

.grey{
    background-color: #f1f1f1;
}
h4{
    color: #898989;
    font: 700 17px Lato;
    border-bottom-color: #898989;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 1rem;
    margin-left: 20rem;
}
#logo{
width: 77px;
}

h2{
    color: #111111;
    font: 400 3rem Lato;
    margin-top: 0px;
}

header #navbar{
    position: fixed;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;

      -webkit-transition:  all 0.3s linear 0.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: all 0.3s linear 0.3s; /* Firefox < 16 */
        -ms-transition: all 0.3s linear 0.3s; /* Internet Explorer */
         -o-transition:  all 0.3s linear 0.3s; /* Opera < 12.1 */
            transition: all 0.3s linear 0.3s;
}

nav{
padding-top: 1rem;
}
nav a{
    color: white;
    text-decoration: none;
vertical-align: middle;
    -webkit-transition:  all 0.3s ease 0s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition: all 0.3s ease 0s; /* Firefox < 16 */
        -ms-transition: all 0.3s ease 0s; /* Internet Explorer */
         -o-transition:  all 0.3s ease 0s; /* Opera < 12.1 */
            transition: all 0.3s ease 0s;
}

nav a:hover{
color: #2ecc71;
}

nav a:active{
color: #27AE60;
}


#logoText{
    color: white;
    font-size: 30px;
}

.button:hover img{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

}



.button:hover #buttonRow{
-webkit-transform: translate(2em,0);
            -moz-transform: translate(2em,0);
            -o-transform: translate(2em,0);
            -ms-transform: translate(2em,0);
                transform: translate(2em,0);

}

footer{
    background-color: #060606;
    color: white;
    padding-top: 3rem;
}

.button.round{
    color: #2ecc71;
    border-radius: 3rem;
    width: 448px;
}

.button.round:hover{
    color: #ffffff;
}

.cta{
    background-color: #202020;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#getInTouch{
color: #ffffff;
    font: 700 30px / 51px Lato;
}

.cta h1{
    color: white;
    color: #ffffff;
    font: 700 72px / 51px Lato;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #2ecc71;
    color:#fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 15rem;
    height: 2.3rem;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    font-family: FontAwesome;
    content:"\f0da";
    color:#fff;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px;
    top:2px;
    padding:0 10px 2px;
    border-bottom:1px solid #27ae60;
    position:absolute;
    pointer-events:none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }



    h2,
    h3 {
        page-break-after: avoid;
    }
}

p.subline {
    color: #9b9b9b;
    font: 500 1.1rem/1.4 Lato;
    margin-top: -2rem;
}

p {
    margin-top: 0px;
}





.fa-angellist{
    color: lightslategrey;
}

.fa-angellist:hover{
    color: lightslategrey;
    cursor: not-allowed;
}
#makeInIndia {
    margin-top: 3rem;
}
